*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #B2F63D;
}
.heading {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-heading{
	font-size: 56px;
	text-align: center;

}
.chapter-heading{
	font-size: 44px;
	
}
.sub-heading{
	font-weight: normal;
	font-size: 36px;
}
.txt {
	font-family: Arial, Helvetica, sans-serif;
}

.link{
	font-style: italic;
}

.right-style {
	text-align: right;
}
.nav-item{
	display: block;
}
.nav-square-markers{
    list-style-type: square;
}
.nav{
	padding: 15px;
    list-style-type: circle;
}
.header{
	margin-bottom: circle;
}

/* 
добавить пораграф класс ткст
добавить всем a классы link и txt
	*/


