:root {
    --ff-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-base: 16px;

    --width-base: 1024px;

    --color-dark: #2b2b2b;
    --color-dark-alt: #363636;
    --color-grey: #595959;
    --color-grey-alt: #8c8c8c;
    --color-light: #fcfcfc;
    --color-light-alt: #fff;
    --color-bright: #ffb566;

    --link-color: var(--color-grey);
    --link-color-alt: var(--color-grey-alt);

    --btn-color: var(--color-light);
    --btn-color-alt: var(--color-grey);

    --transition-duration: .2s;
    --color-warn: #ff0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--ff-base);
    font-size: var(--fs-base);
    color: var(--color-dark);
    background-color: var(--color-light);
}

a, input, textarea, select, button {
    font: inherit;
    color: inherit;
    outline: none;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-dark);
    font-weight: var(--fw-medium);
}

.visually-hidden {
    position: absolute      !important;
    width: 1px              !important;
    height: 1px             !important;
    margin: -1px            !important;
    border: 0               !important;
    padding: 0              !important;
    white-space: nowrap     !important;
    clip-path: inset(100%)  !important;
    clip: rect(0 0 0 0)     !important;
    overflow: hidden        !important;
}

.link {
    transition-duration: var(--transition-duration);
    color: var(--link-color);
    text-decoration: none;

    &:hover, &:focus {
        color: var(--link-color-alt);
        text-decoration: underline;
    }
}

.btn {
    padding: .5rem 1rem;
    border: 2px solid var(--btn-color-alt);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: var(--fw-medium);
    font-size: 1rem;
    transition-duration: var(--transition-duration);
    background-color: var(--btn-color-alt);
    color: var(--btn-color);

    &:hover, &:focus {
        background-color: var(--btn-color);
        color: var(--btn-color-alt);
    }
}

.container {
    width: var(--width-base);
    margin-inline: auto;
    padding: 1.5rem;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}

.header-logo {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: var(--fw-medium);
    transition-duration: var(--transition-duration);

    &:hover {
        color: var(--color-dark-alt);
    }
}

.nav-list {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    align-items: center;
    font-size: 1.25rem;
}

/* MAIN */

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    --padding: 2rem;
    background-color: var(--color-light-alt);
    padding: var(--padding);
    border-radius: var(--padding);
    box-shadow: 0 0
                calc(2 * var(--padding))
                calc(-1 * var(--padding))
                var(--color-grey-alt);
    width: calc(var(--width-base) / 2);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.form-title {
    text-align: center;
}

.form-fields {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    row-gap: .75rem;
}

.form-field {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.input {
    --padding: .4em;
    --border-color: var(--color-grey-alt);
    --shadow-color: transparent;
    padding: calc(var(--padding) / 2) var(--padding);
    border-radius: var(--padding);
    border: 2px solid var(--border-color);
    transition-duration: var(--transition-duration);
    box-shadow: 0 0 var(--padding) var(--shadow-color);

    &:hover {
        --shadow-color: var(--color-grey-alt)
        border-color: transparent;
    }

    &:focus {
        --shadow-color: var(--color-grey-alt);
        border-color: transparent;
    }

    &::placeholder{
        color: var(--color-grey-alt);
    }

    
}

.label-required::after {
    content: "*";
    color: var(--color-warn);
    font-size: 1.3em;
}

.form-controllers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: .5rem;
}

.form-addition {
    text-align: center;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info {
    font-size: .75rem;
}
